.flgMob {
  width: 90%;
  margin: 5px;
}

p {
  margin: 5px !important;
}

ion-button {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
